.item {
    display: flex;
}

.item dt {
    width: 100px;
}

.item dd {
    flex-grow: 1;
}

/*공통 css
    클래스 이름이 바뀌지 않고 지정한 이름 그대로 사용 가능
    아직 지원하지 않는 듯
*/
/*
:global .tit{
    font-size: 1.3rem;
    font-weight: bold;
}
*/