<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.MemberMapper">
    <resultMap id="memberMap" type="exam01.Member">
        <result column="USER_NO" property="userNo" />
        <result column="USER_ID" property="userId" />
        <result column="USER_PW" property="userPw" />
        <result column="USER_NM" property="userNm" />
        <result column="MOBILE" property="mobile" />
        <result column="REG_DT" property="regDt" />
    </resultMap>
    <select id="selectBlog" resultType="Blog">
        select * from Blog where id = #{id}
    </select>
    <select id="getList" resultType="exam01.Member"><!--id 지정 필수!, DB필드와 컬럼명 동일해야 매핑됨-->
        SELECT * FROM MEMBER <!--; 쓰면 안됨-->
    </select>
    <!--
    <update id="">

    </update>
    <insert id="">

    </insert>
    -->
</mapper>