.wrapper {
    padding: 20px;
    background: black;
    color:white;
    font-size: 2rem;


    .highlight {
        color: #F2CB61;
        font-weight: 700;
    }
}

.menus {
    background: #d5d5d5;
}

:global .commonColor {
    color: #6799FF;
}

