$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$indigo: #5c7cfa;
$violet:#7950f2;
$gray: #d5d5d5;

@mixin square($size) {
    $calculated: 40px * $size;
    width: $calculated;
    height: $calculated;
} //함수 정의

.SassComponent {
    display: flex; //좌->우로 배치(기본적으로 위->아래 배치)

    .box {
        /*
        width: 100px ;
        height: 100px;
        */

        &.red { //.box .red 선택자와 같은 표현 
            background: $red;
            @include square(1); //함수 호출
        }
        &.orange {
            background: $orange;
            @include square(2);
        }
        &.yellow {
            background: $yellow;
            @include square(3);
        }
        &.green {
            background: $green;
            @include square(4);
        }
        &.blue {
            background: $blue;
            @include square(3);
        }
        &.indigo {
            background: $indigo;
            @include square(2);
        }
        &.violet {
            background: $violet;
            @include square(1);
        }

        &:hover {
            background: $gray;
        }
    }
} // 들여쓰기로 하위요소 표현, 변수의 값만 바꿔서 재사용하기 좋음