/* 스타일 초기화 S */
body {
    margin: 0 auto;
    max-width: 720px;
    min-width: 360px;
    background: #fff;
}

ul,ol, dl, dt, dd { 
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}
/* 스타일 초기화 E */

/*공통 스타일 s*/
  h3 {
    font-size: 1.538rem;
    color: #212121;
    text-align: center;
    line-height: 1;
    padding: 20px;
}
* {
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}
/*공통 스타일 e*/

/* signup */
.signup_title {
    text-align: center;
    background-color: var(--color-white);
    width: 100vw;
    height: 10vh;
    position: fixed;
  }
  
  .signup_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .signup_wrapper span {
    font-size: var(--font-24);
  }
  
  .signup_wrapper input[id="id"] {
    margin-top: var(--font-32);
  }
  
  
  .signup_wrapper input[type="text"]
   {
    padding-top: var(--font-32);
    font-size: var(--font-24);
    font-weight: var(--weight-regular);
    border-width: 0 0 0.5px 0;
    border-color: var(--color-light-white);
    outline: none;
    width: 300px;
  }
  
  #pswd1, #pswd2 {
    padding-top: var(--font-32);
    border-width: 0 0 0.5px 0;
    border-color: var(--color-light-white);
    outline: none;
    width: 300px;
  }
  
  .signup_wrapper input,
  .signup_wrapper select {
    font-size: var(--font-24);
  }
  
  .signup_wrapper h2 {
    margin-top: 20px;
  }
  
  .perosonalInfo_gender {
    font-size: var(--font-24);
    margin-top: 20px;
  }
  
  .univInfo_email input[type="text"] {
    width: 220px;
  }
  
  .univInfo_email input[type="button"] {
    background-color: var(--color-blue);
    border: 0px;
    height: 30px;
    width: 80px;
    color: var(--color-white);
    font-size: 14px;
    border-radius: 3px;
  }
  
  .signup_buttons {
    display: flex;
    align-content: space-between;
    margin-bottom: 4rem;
  }
  
  .signup_buttons input {
    border: 0px;
    height: 40px;
    width: 120px;
    margin: 20px 10px;
    font-weight: var(--weight-bold);
    border-radius: 3px;
  }
  
  .signup_buttons input[type="button"] {
    color: var(--color-white);
    background-color: var(--color-blue);
    border-radius: 3px;
  }
  