<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="form" th:object="${requestBoard}">
    <dl>
        <dt th:text="#{제목}"></dt>
        <dd>
            <input type="text" name="subject" th:field="*{subject}">
            <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
        </dd>
    </dl>
    <dl>
        <dt th:text="#{내용}"></dt>
        <dd>
            <!--                <input type="text" name="content" th:field="*{content}"/>-->
            <textarea name="content" th:field="*{content}" class="content-box"></textarea>
            <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
        </dd>
    </dl>
    <div class="buttons">
        <button type="reset" th:text="#{다시_입력}"></button>
        <button type="submit" th:text="#{등록하기}"></button>
    </div>
</th:block>
</html>