<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <h1 th:text="#{게시글_작성}"></h1>
    <form name="frmRegist" method="POST" th:action="@{/board/write}" autocomplete="off" th:object="${requestBoard}">
<!--        <dl>-->
<!--            <dt th:text="#{작성자}"></dt>-->
<!--            <dd th:text="${member.userName}">-->
<!--        </dl>-->
        <dl>
            <dt th:text="#{제목}"></dt>
            <dd>
                <input type="text" name="subject" th:field="*{subject}">
                <div class="error" th:each="err : ${#fields.errors('subject')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{내용}"></dt>
            <dd>
<!--                <input type="text" name="content" th:field="*{content}"/>-->
                <textarea name="content" th:field="*{content}"></textarea>
                <div class="error" th:each="err : ${#fields.errors('content')}" th:text="${err}"></div>
            </dd>
        </dl>
        <div class="buttons">
            <button type="reset" th:text="#{다시_입력}"></button>
            <button type="submit" th:text="#{등록하기}"></button>
        </div>
    </form>
</main>
</html>
