<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <!--결과를 로그에 출력함-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--%level=%p, %thead=%t(여기선 x), %msg=%m-->
            <pattern>%d %5p %c{2} - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="mappers">
        <level value="DEBUG"/>
    </logger>

</configuration>